# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/MyWeather/packages
/MyWeather/WeatherApp/bin/Debug
/MyWeather/WeatherApp/obj/Debug
/MyWeather/WeatherCommonInfra/obj/Debug
/MyWeather/WeatherDetails/bin/Debug
/MyWeather/WeatherDetails/obj/Debug
/MyWeather/WeatherFindCity/bin/Debug
/MyWeather/WeatherFindCity/obj/Debug
/MyWeather/WeatherHome/obj/Debug
/MyWeather/WeatherHome/bin/Debug
/MyWeather/WeatherProviders/bin/Debug
/MyWeather/WeatherService/bin/Debug
/MyWeather/WeatherServiceTest/bin/Debug
/MyWeather/WeatherServiceTest/obj/Debug
/MyWeather/WeatherService/obj/Debug
/MyWeather/WeatherProviders/obj/Debug
/MyWeather/WeatherModel/obj/Debug
